@import "tailwindcss";

/* {
  outline: dotted red 1px;
} */

@theme {
  --color-background: #f9f9f9;
  --color-foreground: #343434;
  --color-primary: #3563ff;
  --color-secondary: #3994d4;
  --color-accent: #fc0404;
  --color-dark: #101010;
  --color-gray: #d8d8d8;

  --font-poppins: var(--font-poppins);

  --font-size-h1: clamp(2rem, 5vw, 4rem);
  --font-size-h2: clamp(1.5rem, 4vw, 3rem);
  --font-size-h3: clamp(1.25rem, 3vw, 2rem);
  --font-size-h4: clamp(1.125rem, 2.5vw, 1.5rem);
  --font-size-h5: clamp(1rem, 2vw, 1.25rem);
  --font-size-h6: clamp(0.875rem, 1.5vw, 1rem);
  --font-size-base: clamp(1rem, 1.5vw, 1.25rem);
}

body {
  overflow-x: hidden;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: poppins, Arial, Helvetica, sans-serif;
}
h1 {
  font-size: var(--font-size-h1);
  line-height: 1.2;
  font-weight: 700;
  color: #1d293d;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: 1.3;
  font-weight: 600;
  color: #1d293d;
}

h3 {
  font-size: var(--font-size-h3);
  line-height: 1.4;
  font-weight: 600;
  color: #1d293d;
}

h4 {
  font-size: var(--font-size-h4);
  line-height: 1.5;
  font-weight: 500;
  color: #1d293d;
}

h5 {
  font-size: var(--font-size-h5);
  line-height: 1.5;
  font-weight: 500;
  color: #1d293d;
}

h6 {
  font-size: var(--font-size-h6);
  line-height: 1.5;
  font-weight: 500;
  color: #1d293d;
}

p {
  font-size: var(--font-size-base);
  line-height: 1.75rem;
  margin-bottom: 1rem;
  color: var(--color-dark);
}
p,
a {
  @apply text-dark/60;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}
